body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  gray;
    
    padding: 30px;
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}


.instructions {
    background-color: #00acb0;
    padding: 5px;
    color: #ece7e7;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.cardMedia {
    height: 200px;
    width: 200px;
  }

.navbar {
  background-color: #546a67;
  width: 100%;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}


/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

.logOutButton{
    justify-content: flex-end;
right:    0;
bottom:   0;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; 


}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; 
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px)
    }
    80%{
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px)
    }
    80%{
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0)
    }
}

.heading-primary-main-register{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

}

.heading-primary-sub-register{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
}

.log-box{
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(30px)
    }
    100% {
        opacity: 1;
        transform: translate(0)
    }
}

/* .form {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
} */




.form {
    opacity: .75;
    border: 2px solid #000;
}



.background-image{
    height: 95vh;
    background-image: linear-gradient(to right bottom,#7ed56f44, #708090), url(../images/bg.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)
}

.image{
    height: 10vh;
    background-image: linear-gradient(to right bottom,#7ed56f44, #708090), url(../images/bg.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    /* clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%) */
}